<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts & Styles -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/favicon/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="{% if page.title == 'Home' %}no-scroll{% endif %}">
  <header class="site-header">
    <a href="{{ '/' | relative_url }}" class="logo-link">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo" class="site-logo">
    </a>
  
    <nav>
      <a href="/projects">Projects</a>
      <a href="/achievements">Achievements</a>
      <a href="https://linkedin.com/in/akmalset" target="_blank">LinkedIn</a>
      <a href="/assets/pdf/Setiawan,%20Ace%20Resume.pdf" target="_blank">Resume</a>
      <a href="https://github.com/acepocalypse" target="_blank">GitHub</a>
    </nav>
  </header>
  

  <main class="{% if page.title == 'Home' %}fullscreen-center{% endif %}">
    {{ content }}
  </main>

  <footer>
    &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
  </footer>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 600,
      easing: 'ease-in-out',
      once: true
    });
  </script>
</body>
</html>
